.header {
    background: url("/assets/img/wallpaper.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;

}

.header_title {
    font-size: 5rem;
    color: var(--white-color);
}

.vegetable {
    position: absolute;
    bottom: -90px;
    width: 150px;
    height: 150px;
    left: -25px;
}